PCM_LISTEN_HOST=0.0.0.0
PCM_LISTEN_PORT=9700
CONTROL_LISTEN_HOST=0.0.0.0
CONTROL_LISTEN_PORT=9701
VOSK_MODEL_PATH=models/vosk-model-ru-0.42
PIPER_BIN=third_party/piper/piper.exe
PIPER_MODEL=models/ru_RU-irina-medium.onnx
PIPER_CONFIG=models/ru_RU-irina-medium.onnx.json
SAMPLE_RATE=16000
